/* Fonts */

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* fonts */
@font-face {
  font-family: 'Azonix';
  src: url('./fonts/Azonix.otf') format("opentype");
}

/* Add common styles here */
body {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  /* expanding body to full page */
  width: 100vw;
  height: 100vh;

  /* hiding scrollbar */
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;

  background-color: blueviolet;
}

/* removing scrollbar */
body::-webkit-scrollbar {
  display: none;
}

h1,
h2 {
  font-family: 'Azonix', 'Poppins', 'Helvetica', 'Arial', sans-serif;
}

h3,
h4,
h5,
h6 {
  font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
}
