@use './../../../sass' as *;

.eventTabsWrapper {
  position: absolute;
  top: 200 * $px-to-vh;
  left: 150 * $px-to-vw;
  height: 768 * $px-to-vh;
  width: 80%;

  // example for passing styles
  :deep(.tabsContainerCustomStylesFromParent) {
    background-color: royalblue;
  }
}
