/*
Common Sizes of the following things must be defined here. 
Examples: 
* font sizes
* border radius
* colors
* some other variables - like px to vh/vw/rem converters
*/

/* converting px value to vh, vw, rem */
/* displays 1px when in 1920x1080 screen */
$px-to-vh: 0.09259259259259259vh;
$px-to-vw: 0.052083333333333336vw;
$px-to-rem: 0.0625rem;

/* colors */
$bg-color-dark-primary: #1c1d21;
$bg-color-dark-secondary: #0b0c10;
$bg-color-primary: #1f2833;
$bg-color-secondary: #2c3c4f;
$primary-blue: #2c9da5;
$secondary-blue: #66fcf1;
$text-color: #ffffff;
$white: #ffffff;

/* sizes */
$font-size-16: 0.833333333333333333vw;
$font-size-20: $font-size-16 * 1.25;
$font-size-24: 1.25vw;
$border-radius: 4 * $px-to-rem;
$border-radius-small: 3 * $px-to-rem;
$border-size: 2 * $px-to-rem;
$shadow-blur: 16 * $px-to-rem;

// for mobile
$mobile-multiplier: 4;
$font-size-16-mobile: $font-size-16 * $mobile-multiplier;
$border-radius-mobile: $border-radius * $mobile-multiplier;
$border-radius-small-mobile: $border-radius-small * $mobile-multiplier;
